/* ################################################## */
  /* ########### Global classes / overrides ########### */
  /* ################################################## */
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  /* Header section */
  h1 {
    color: green;
    font-size: 30px;
    font-family: 'Merriweather', serif;
    margin: 10px;
  }

  p {
    font-size: 18px;
    line-height: 1.5;
    padding: 15px 0;
  }


  hr {
    margin-top: 0;
    margin-bottom: 0;
    height: 4px;
    border: none;
    color: #000;
    background-color: #f2ff00;
  }

  .container {
    padding: 2%;
  }

  .crossed {
     text-decoration: line-through;
   }

  .grey-line {
    background: grey;
    line-height: 3;
    text-align: center;
    font-family: 'Merriweather', serif;
  }


  .heading {
    background: #000;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    padding: 15px 0;
    text-transform: uppercase;
  }

  .people {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/coworking.jpg')center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0 2px 700px;
  }

  .top-cointainer {
    background-color: rgba(255, 255, 255);
    opacity: 0.8;
    margin: 25px 25px 0 0;
    padding: 25px;
    width: 380px;
    height: 230px;
    padding: 9%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .75);
    text-align: center;

  }

  .top-btn {
    background:  #ffd900;
    height: 60px;
    width: 350px;
    border-radius: 5px;
    border: none;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: black;
  }
  .start {
     text-transform: capitalize;
  }
  .under-lined {
     text-decoration: underline  #ffd900;
   }



  /* Fonts, classes are so I can reuse the styles on a variety of elements */
  .merriweather {
    font-family: 'Merriweather', serif;
    font-size: 20px;
  }

  .oswald {
    font-family: 'Oswald', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* Column section */

  .three-column {
    display: flex;
    justify-content: center;
    text-align: inherit;
  }

  .lato {
    font-family: 'Lato', sans-serif;
  }

  .btn {
    background-color: #878787;
    color: black;
    height: 60px;
    width: 350px;
    border-radius: 5px;
    border: none;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
  }


  /* Footer section */
  .footer {
    background-color: #000;
    color: white;
    padding: 20px 0px 20px 8px;
    margin-top: 20px;
  }
@media (max-width: 800px) {
  div {
    display: block;
  }
  .h2 {
    margin-right: 300px;
  }
   .three-column {
    padding: 5px;
    display: block;
      }

}


  /* Colors */
  /* Dark yellow: #f2ff00 */
  /* Lighter yellow: #ffd900 */
  /* Light gray: #adadad */
  /* Medium gray: #878787 */

  /* Background Image */
  /* https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/coworking.jpg */
